<ion-view>
	<ion-nav-title>
		<h1 class="title">Organize School</h1>
	</ion-nav-title>
	<ion-content ng-init="alertProva()">
		<div class="card">
			<div class="item item-divider" style="background-color: #5491f2;"> <!-- Cabeçalho do cartao -->
			<h2 style="text-align: center; color: #fff;">Aulas do dia</h2>
			</div>
			<div class="table-horario">
				<div class="row">
					<div class="col">19:15</div>
					<div class="col">Programação Web</div>
				</div>
				<div class="row">
					<div class="col">20:45</div>
					<div class="col">Intervalo</div>
				</div>
				<div class="row">
					<div class="col">21:00</div>
					<div class="col">Banco de Dados</div>
				</div>
			</div>
		</div>

		<div class="card">
		<div class="item item-divider" style="background-color: #ed5634;"> <!-- Cabeçalho do cartao -->
			<h2 style="text-align: center; color: #fff;">Tarefas do dia</h2>
			</div>
			<div class="table-horario">
				<div class="row">
					<div class="col">Programação Web</div>
					<div class="col">Estudar para a prova</div>
				</div>
				<div class="row">
					<div class="col">Banco de Dados</div>
					<div class="col">Estudar funções Postgres</div>
				</div>
			</div>
		</div>

		<div class="card">
		<div class="item item-divider" style="background-color: #efe634;"> <!-- Cabeçalho do cartao -->
			<h2 style="text-align: center; color: #fff;">Trabalhos do dia</h2>
			</div>
			<div class="table-horario">
				<div class="row">
					<i class="ion-ios-pricetag" style="padding-top: 5px;"></i><div class="col" style="text-align: center;">Programação Web</div>
				</div>

			</div>
		</div>
	</ion-content>
</ion-view>
