<ion-view>

  <ion-nav-title>
    <h1 class="title">Horários</h1>
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider"> <!-- Cabeçalho do cartao -->
        <h2>Segunda-feira</h2>
      </div>
      <div class="table-horario">
        <div class="row">
          <div class="col">19:15</div>
          <div class="col">Programação Web</div>
        </div>
        <div class="row">
          <div class="col">20:45</div>
          <div class="col">Intervalo</div>
        </div>
        <div class="row">
          <div class="col">21:00</div>
          <div class="col">Banco de Dados</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider"> <!-- Cabeçalho do cartao -->
        <h2>Terça-feira</h2>
      </div>
      <div class="table-horario">
        <div class="row">
          <div class="col">19:15</div>
          <div class="col">Programação Web</div>
        </div>
        <div class="row">
          <div class="col">20:45</div>
          <div class="col">Intervalo</div>
        </div>
        <div class="row">
          <div class="col">21:00</div>
          <div class="col">Banco de Dados</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider"> <!-- Cabeçalho do cartao -->
        <h2>Quarta-feira</h2>
      </div>
      <div class="table-horario">
        <div class="row">
          <div class="col">19:15</div>
          <div class="col">Programação Web</div>
        </div>
        <div class="row">
          <div class="col">20:45</div>
          <div class="col">Intervalo</div>
        </div>
        <div class="row">
          <div class="col">21:00</div>
          <div class="col">Banco de Dados</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider"> <!-- Cabeçalho do cartao -->
        <h2>Quinta-feira</h2>
      </div>
      <div class="table-horario">
        <div class="row">
          <div class="col">19:15</div>
          <div class="col">Programação Web</div>
        </div>
        <div class="row">
          <div class="col">20:45</div>
          <div class="col">Intervalo</div>
        </div>
        <div class="row">
          <div class="col">21:00</div>
          <div class="col">Banco de Dados</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider"> <!-- Cabeçalho do cartao -->
        <h2>Sexta-feira</h2>
      </div>
      <div class="table-horario">
        <div class="row">
          <div class="col">19:15</div>
          <div class="col">Programação Web</div>
        </div>
        <div class="row">
          <div class="col">20:45</div>
          <div class="col">Intervalo</div>
        </div>
        <div class="row">
          <div class="col">21:00</div>
          <div class="col">Banco de Dados</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
