<ion-view class="login">
      <ion-content class="text-center">
        <div class="efeito">
          <h1>Organize School</h1>
          <ion-list class="list-inset">
            <ion-item class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Username" ng-model="login.username">
            </ion-item>
            <ion-item class="item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" placeholder="Senha" ng-model="login.senha">
            </ion-item>
          </ion-list>
          <div class="botao">
            <button class="button button-balanced" ng-click="logar()">Iniciar</button>
          </div>
        </div>
      </ion-content>
</ion-view>
