/* tela login */
.login {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: : center;
}

/* posicao do botao logar */
.botao{
  position: relative;
  top: 40px;
}

/* efeito icone quadrado tela de login */
.efeito{
  max-width:inherit;
  padding: 60px;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 100px;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px;
}

/* efeito nome tela login */
.efeito h1{
  font-family:'Lobster';
  color: green;
  font-size: 37px;
  text-align: center;

}

/* margem entre os campos username e senha */
.item-input{
  margin-bottom: 10px;
}

/* edição titulo */
.title {
  font-family: 'lobster';
  text-align: center;
}

/*Efeito em botao*/
.textoBotao{
  font-family: 'lobster';
  text-align: center;
  font-size: 25px;
}

.table-horario{
      padding-left: 25px;
}