/* Empty. Add your own CSS if you like */
.login {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: : center;
}

.botao{
  position: relative;
  top: 40px;
}

.foto{
  position: relative;
  right: 60px;
  width: 250px;
}

.efeito{
  max-width:inherit;
  padding: 60px;
  position: absolute;
  left: 40px;
  right: 40px;/* posiciona a 90px para a esquerda */
  top: 100px;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px;
}

.efeito h1{
  font-family:'Lobster';
  color: green;
  font-size: 37px;
  text-align: center;

}

.item-input{
  margin-bottom: 10px;
}

.item-input input {
  height: 35px;
  width: auto;
}
